@import "grid";

h2 {
	text-align: center;
}

.example1 {
	// add a gutter with padding to your columns without messing up your percentage based widths
    *, *:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	}
	
	.example1::after { // “Add a clearfix to the container for good measure.”
	    content: "";
	    display: table;
	    clear: both; // Allow to fix item which doesn't collapse
	}
	
	div { 
    outline: 1px solid black;
    height: 100px;

    float: left; // Add two columns
    width: 45%;

    /* Add a gutter */
    margin: 2% 2.5%;
	}
}

.example2 {

}

.example3 {
	
}

.example4 {
	
}