html, body {
  height: 100%; }

.flex {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%; }

.flex > * {
  min-width: 100px;
  min-height: 100px; }

header {
  background: #c8c8c8; }

article {
  background: rgba(200, 200, 200, 0.8); }

aside {
  background: rgba(200, 200, 200, 0.6); }

footer {
  background: rgba(200, 200, 200, 0.4); }

.mainaxis h2 {
  text-align: center; }

.mainaxis {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%; }

.mainaxis hr {
  margin: 0 4em 0 0; }

.mainaxis h2 {
  margin: auto 0;
  -webkit-transform: rotate(-90deg) translateY(1em); }

.crossaxis hr {
  width: 100%; }

.crossaxis {
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%; }

.crossaxis h2 {
  padding-left: 55%; }
